<!doctype html>
<html lang="en">
    <head>
        <title>My profile-Questioner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu+Condensed|ZCOOL+XiaoWei" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" >

    </head>
    <body>
        <div class="top-bar">
            <p id="logo" >Questioner</p>
            <div class="bar-item">
                <a href="index.html">Home</a> 
                <a href="about.html">About</a>
            </div>
        </div>
        <hr>
        
        <div class="main-container">
            <div class="avatar">
                <img src="/static/images/avatar.svg" alt="avatar">
                <p>user 1234 <span class="links"><a href="#">edit profile</a> </span> </p>
            </div>
            <div id="bio">
                
                <p>Aspiring to change the world through beautiful code!</p>
            </div>
            <div class="sub-container">
                <p class="container-title">Upcoming meetups</p>
                <p class="title-links"><a href="">Meetup on 15th January at Quahog Civic Center</a> </p>
                <p class="title-links"><a href="">Meetup on 27th January at Roysa Social Hall</a> </p>
                <p class="title-links"><a href="">Meetup on 12th February at Quahog Civic Center</a> <span class="links"><a href="meetups.html">view all</a></span>  </p>
                              
            </div>
            <div class="sub-container">
                <p class="container-title">My most recent questions:</p>
                <p class="title-links"><a href="">What happens if I don't contribute to the spooner street welfare fund?</a> </p>
                <p class="title-links"><a href="">Should night clubs be allowed to operate in residential areas?</a> </p>
                <p class="title-links"><a href="">When are the security flood lights in Quahog City becoming oprational?</a> <span class="links"><a href="#">view all</a></span> </p> 
                
            </div>
            <div class="sub-container">
                <p class="container-title">Comments I've posted:</p>
                <p class="title-links"><a href="">I think it takes about three weeks </a><span class="attribs">comment  to question by Stewie on 23/12/2018</span> </p>
                <p class="title-links"><a href="">You can get them cheaply at the Farmer's Market </a><span class="attribs">comment to question by Meg on 12/11/2018</span> </p>
                <p class="title-links"><a href="">You can apply for a duplicate one online </a><span class="attribs">comment to question by Quagmire on 17/07/2018</span><span class="links"><a href="#">view all</a></span>  </p>                
   
            </div>
        </div>

    </body>
</html>