<!doctype html>
<html lang="en">
    <head>
        <title>Sign in to Questioner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu+Condensed|ZCOOL+XiaoWei" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" >

    </head>
    <body>
        <div class="top-bar">
            <p id="logo" >Questioner</p>            
            <div class="bar-item"><a href="about.html">About</a> </div>
            <div class="bar-item"><a href="index.html">Home</a> </div>
        </div>
        <hr>   
        <div class="form-container">
            <div class="title">
                <p>Sign in to <span class="lg">Questioner</span></p>
            </div>            
            <div class="form">
                <form class="login-form">
                    <input type="text" placeholder="Enter your user name" name="uname" />
                    <input type="password" placeholder="Enter your password" name="pwd" />
                    <input type="submit" value="submit" name = "login" id = "btn"/>
                    <a href="index.html"><button type="button">cancel </button> </a>
                    <p class="msg">Not registered? &nbsp;&nbsp;&nbsp;<a href="sign-up.html">Sign Up</a> </p>                    
                </form>
            </div>
        </div>
    </body>
</html>